Source: linux-4.14.14-1-pinea64
Section: kernel
Priority: optional
Maintainer: Michael Walton <mike@farsouthnet.com>
Build-Depends: bc, kmod, cpio, debhelper
Homepage: http://www.kernel.org/

Package: linux-image-4.14.14-1-pinea64
Architecture: any
Provides: linux-image
Description: Linux kernel, version ${binary:Version} on ${kernel:debarch} (Wanderbox micro Pine A64)
 This package contains the Linux kernel, modules and corresponding other
 files, version: ${binary:Version}, for Far South Networks Pine A64 LTS

Package: linux-headers-4.14.14-1-pinea64
Architecture: any
Description: Linux kernel headers for ${source:Version} on ${kernel:debarch}
 This package provides kernel header files for ${source:Version} on ${kernel:debarch}
 .
 This is useful for people who need to build external modules

Package: linux-libc-dev
Section: devel
Provides: linux-kernel-headers
Architecture: any
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.

