/*
 * Copyright (c) 2017 Icenowy Zheng <icenowy@aosc.xyz>
 *
 * Based on sun50i-a64-pine64.dts, which is:
 *   Copyright (c) 2016 ARM Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "sun50i-a64-sopine.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "SoPine on FSN Wanderer";
	compatible = "pine64,sopine-baseboard", "pine64,sopine",
		     "allwinner,sun50i-a64";

	aliases {
		ethernet0 = &emac;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc1v8: vcc1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
	
	leds {
		compatible = "gpio-leds";
		red {
			label = "wanderer:red";
			gpios = <&pio 7 2 GPIO_ACTIVE_HIGH>; /* PH2 */
			default-state = "on";
		};

		green {
			label = "wanderer:green";
			gpios = <&pio 7 3 GPIO_ACTIVE_HIGH>; /* PH3 */
			default-state = "on";
		};
		
		blue {
			label = "wanderer:blue";
			gpios = <&pio 7 9 GPIO_ACTIVE_HIGH>; /* PH9 */
			default-state = "on";
		};
		wifi_wake {
			label = "wifi:wake";
			gpios = <&r_pio 0 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		/*wifi_en {
			label = "wifi:en";
			gpios = <&r_pio 0 2 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		wifi_rst {
			label = "wifi:rst";
			gpios = <&r_pio 0 4 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};*/
		
	};
	spi0: spi@1c68000 {
		compatible = "allwinner,sun6i-a31-spi";
		reg = <0x01c68000 0x1000>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi0_pins>;
		interrupts = <GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&ccu CLK_BUS_SPI0>, <&ccu CLK_SPI0>;
		resets = <&ccu RST_BUS_SPI0>;
		clock-names = "ahb", "mod";
		/*dmas = <&dma 23>, <&dma 23>;
		dma-names = "rx", "tx";*/
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		flash: w25q128@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "winbond,w25q128";
			spi-max-frequency = <15625000>;
			reg = <0>;

			partition@00000 {
				label = "U-boot";
				reg = <0x00000 0xde000>;
				read-only;
			};
	
			partition@de000 {
				label = "ROM";
				reg = <0xde000 0x2000>;
				read-only;
			};
	
			partition@e0000 {
				label = "U-boot-env";
				reg = <0xe0000 0x20000>;
				read-only;
			};
	
			partition@100000 {
				label = "Unused1";
				reg = <0x100000 0x100000>;
			};

		};
	};
	
	spi1: spi@01c69000 {
		compatible = "allwinner,sun6i-a31-spi";
		reg = <0x01c69000 0x1000>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi1_pins>;
		interrupts = <GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&ccu CLK_BUS_SPI1>, <&ccu CLK_SPI1>;
		resets = <&ccu RST_BUS_SPI1>;
		clock-names = "ahb", "mod";
		/*dmas = <&dma 24>, <&dma 24>;
		dma-names = "rx", "tx";*/
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		ksz8794@0 {
			compatible = "micrel,ksz8794";
			spi-max-frequency = <1000000>;
			reg = <0>;
			reset-gpios = <&pio 7 11 GPIO_ACTIVE_LOW>;			
		};
		
	};
	/* We sequence the wifi chip reset to enable probing */
	wifi_pwrseq: wifi_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&r_pio 0 4 GPIO_ACTIVE_LOW>; 
	};
	
};

/* Hog required GPIOs, e.g. enable USB power */
&pio {
	pullup: pullup {
		pins = "PC7", "PC4", "PB3";
		bias-pull-up;
	};
	i2c0_pins: i2c0_pins {
		pins = "PH0", "PH1";
		function = "i2c0";
		bias-pull-up;
	};
	spi1_pins: spi1_pins {
		pins = "PD0", "PD1", "PD2", "PD3";
		function = "spi1";
	};
	spi0_pins: spi0 {
		pins = "PC0", "PC1", "PC2", "PC3";
		function = "spi0";
	};
};

&r_pio {
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";
	usb2514b@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
		reset-gpios = <&pio 7 10 GPIO_ACTIVE_LOW>;
	};
	max6639@2e {
		compatible = "maxim,max6639";
		reg = <0x2e>;
	};
	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};
};


&de {
	status = "okay";
};

&codec {
	status = "okay";
};

&codec_analog {
	status = "okay";
};

&dai {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	phy-mode = "rgmii";
	/*phy-handle = <&ext_rgmii_phy>;*/
	phy-supply = <&reg_dc1sw>;
	/*allwinner,tx-delay-ps = <700>;*/
	status = "okay";
	fixed-link {
	      speed = <1000>;
	      full-duplex;
	};
};

&hdmi {
	hvcc-supply = <&reg_dldo1>;
	status = "okay";
};

/*&mdio {
	status = "okay";
	ext_rgmii_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};*/

&mixer1 {
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_dcdc1>;
	bus-width = <4>;
	cap-mmc-hw-reset;
	cd-gpios = <&pio 2 7 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&reg_eldo3 {
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "vdd-1v8-wifi";
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	vmmc-supply = <&reg_vcc3v3>;
	/*vqmmc-supply = <&reg_eldo1>;*/
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	cap-mmc-hw-reset;
	/*non-removable;*/
	broken-cd;
	/*cd-gpios = <&r_pio 0 3 GPIO_ACTIVE_HIGH>;*/
	/*cd-inverted;*/
	/*max-frequency = <20000000>;*/
	status = "okay";
	/* wilc1000 is powered by DLDO4 @ 3.3V and ELDO1/3 @ 1.8V - core must rise before/with i/o */
    irq_gpios = <&r_pio 0 6 IRQ_TYPE_LEVEL_LOW>;
	wilc_sdio: wilc_sdio@0 {
	    compatible = "atmel,wilc_sdio";
		reg = <0>;
		gpio_reset = <&r_pio 0 4 GPIO_ACTIVE_LOW>;
		gpio_chip_en = <&r_pio 0 2 GPIO_ACTIVE_HIGH>;
	    gpio_irq = <&r_pio 0 6 IRQ_TYPE_LEVEL_LOW>;
	    /* latest driver... */
	    irq_gpios = <&r_pio 0 6 IRQ_TYPE_LEVEL_LOW>;
	    /* Old driver */
	    /*gpios = <&r_pio 0 6 IRQ_TYPE_LEVEL_LOW>;*/
	};
};


&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&reg_dc1sw {
        regulator-always-on;
	regulator-name = "vcc-phy";
};

&reg_dldo1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-hdmi";
};

&reg_dldo2 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-wifi";
};

&reg_dldo4 {
    regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-wifi-io";
};

&tcon1 {
	status = "okay";
};

&sound {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_a>;
	status = "okay";
};

&usb_otg {
	dr_mode = "host";
	status = "okay";
};

&usbphy {
	status = "okay";
};
